Source: scone-server
Section: utils
Priority: optional
Maintainer: David Villa Alises <David.Villa@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), quilt
Standards-Version: 4.5.1

Package: scone-server
Architecture: all
Depends: ${misc:Depends}, scone, ncat, iproute2
Description: TCP scone wrapper server
  TCP scone wrapper server
