Source: scone-server
Section: utils
Priority: extra
Maintainer: David Villa Alises <David.Villa@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), quilt
Standards-Version: 3.9.8

Package: scone-server
Architecture: all
Depends: ${misc:Depends}, scone
Description: FIXME: Short description of the scone-server package
 FIXME: long description about the basic features of the scone-server package
